body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;


}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 150px;

}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: #d5011d;
}

/* ------------------------------------------------------------------------------ */
.container {
    border: px solid yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3%;
}

/* ------------------------------------------------------------------------------ */
.fundo-video {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
}

/* ------------------------------------------------------------------------------ */

.tabela {

    background-color: rgb(51, 52, 54);
    text-align: center;
    width: 60%;
    /*      */
    /* height: 50%; */

}

table {
    border: 1px solid rgb(204, 248, 7);
    width: 100%;

}

td {
    /* background-color: white; */
    color: rgb(204, 248, 7);
    font-weight: bold;
    padding: 3%;


}

td input {

    width: 70%;
    height: 50px;
    min-height: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 17px;
}

.escrita {
    width: 70%;
    height: 50px;
    border: 2px solid yellow;
    font-size: 30px;
}


.rasp {
    width: 30%;
    height: 50px;
    border: 2px solid rgb(204, 248, 7);
    align-items: center;
}
























.calcular {
    width: 30%;
    padding: 2% 0;
    background-color: rgb(76, 165, 96);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    transition: 0.3s all;
    cursor: pointer;
    /* display: none; */
}

.calcular:hover {
    background-color: rgb(165, 49, 11);
    transform: scale(1.2);
}

.ocultar {
    display: none;
    opacity: 0;
}

.mostrar {
    display: block;
    opacity: 1;

}

.aberto {
    display: block;
    width: 80%;
    border: px solid red;
    position: relative;
}

.aberto img {
    width: 100%;
    position: relative;
}


.limpar {
    width: 30%;
    padding: 2% 0;
    background-color: rgb(170, 13, 13);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    transition: 0.3s all;
    cursor: pointer;
    width: 20%;
    padding: 1% 0;
    display: none;
}

.limpar:hover {
    background-color: rgb(165, 49, 11);
    transform: scale(1.2);

}


.green {
    background-color: green;

}

.red {
    background-color: red;

}

/* -------------------------------------------------------------------------------------- */
.modal {
    width: 80%;
    border: px solid red;
    position: relative;
    display: none;
}

.modal img {
    width: 100%;
    position: relative;
}

#menssage {
    position: absolute;
    right: 5%;
    top: 5%;
    width: 45%;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: px solid pink;
}


@media (max-width: 1200px) {

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: #ffffff;
        text-align: center;
    }

    .container .botao-contas {
        background-color: #263238;
    }
}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .imagem-titulo {
        max-width: 75%;
    }

    .modal .fechar-modal {
        width: 30px;
        line-height: 30px;
    }

    .modal #video {
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 376px) {
    .modal #video {
        width: 250px;
        height: 140px;
    }
}