html {
    background-image: url('../imagens/home.jpeg');
    background-repeat: no-repeat;
}

body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.glass-container {
    background: rgba(0, 0, 0, 0.9);
    /* Adjust opacity as needed */
    position: absolute;
    width: 100%;
    height: 100vh;
    position: fixed;
    min-height: 100vh;
    text-align: center;
    z-index: -1;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 20%;
    background-color: white;
    margin-top: 5%;
    border-radius: 50%;
    margin-left: 5%;

}

#hamb {
    cursor: pointer;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: #d5011d;
}

/* ----------------------------------------------------------------------------- */


.container {
    border: px solid yellow;
    display: flex;
    flex-direction: row;
    margin: 9% 3% 3% 3%;
}

.form {
    border: px solid blue;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}

.form label,
.form p {
    color: white;
    font-size: 25pt;
}

.input-padrao {
    display: block;
    padding: 3%;
    width: 80%;
    border-radius: 50px;
    margin: auto;
}

.enviar {
    display: block;
    margin: 3% auto;
    width: 30%;
    padding: 2%;
    background-color: rgb(76, 165, 96);
    color: white;
    font-weight: bold;
    font-size: 18pt;
    border: none;
    border-radius: 50px;
    transition: 1s all;
    cursor: pointer;

}

.container .enviar:hover {
    background-color: rgb(165, 49, 11);
    transform: scale(1.2);

}

.modal {
    border: px solid pink;
    width: 50%;
    height: 30%;
    align-items: center;
}

.modal img {
    width: 60%;

}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


.fechar-modal {
    background-color: #ffffff;
    color: #f03a17;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}


.modal iframe {
    border-width: 0;
}

.modal.aberto {
    opacity: 1;
    visibility: visible;
}

.modal #menssage {
    border: px solid red;
    width: 15%;
    right: 15%;
    height: 35%;
    margin-top: 3%;
    position: absolute;
    color: white;
    font-size: 15pt;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {

    .modal {
        border: px solid pink;
        width: 80%;
        height: 50%;
    }

    .modal #menssage {
        border: px solid red;
        width: 25%;
        height: 20%;
        margin: 2% auto auto auto;
        position: absolute;
        color: white;
        font-size: 12pt;
    }
}

@media only screen and (max-width: 600px) {

    .cabecalho {
        border: px solid #f03a17;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
    }

    .cabecalho .logo {
        width: 100%;
    }

    .cabecalho a {
        border: px solid salmon;
        width: 20%;
    }

    .cabecalho a:first-child {
        display: inline;
        align-items: start;
        cursor: pointer;
    }

    h2 {
        border: px solid blue;
        color: yellow;
    }

    nav {
        display: none;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .opened{
        display: block;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    nav::-webkit-scrollbar {
        width: 1%;
    }

    nav::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(33, 33, 244, 1);
        background-color: rgba(33, 33, 244, 0.4);
        border-radius: 10px;
    }

    nav::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(1, 0, 0, 0.4);
    }

    .container {
        border: px solid red;
        flex-direction: column;
        margin: auto;
        width: 100%;
        align-items: center;
    }

    .form label {
        font-size: 14pt;
    }

    .enviar {
        font-size: 12pt;
        width: 40%;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .modal {
        border: px solid pink;
        width: 80%;
        height: 50%;
    }

    .modal #menssage {
        border: px solid red;
        width: 30%;
        left: 25%;
        height: 15%;
        margin: 2% auto auto auto;
        position: absolute;
        color: white;

        font-size: 8pt;
    }

}