body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.glass-container {
    background: rgba(0, 0, 0, 0.9);
    /* Adjust opacity as needed */
    position: absolute;
    width: 100%;
    height: 100vh;
    position: fixed;
    min-height: 100vh;
    text-align: center;
    z-index: -1;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 20%;
    background-color: white;
    margin-top: 5%;
    border-radius: 50%;
    margin-left: 5%;

}

#hamb {
    cursor: pointer;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: #d5011d;
}


/* ------------------------------------------------------------------------------ */
.container {
    border: px solid yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 6.5% 3% 3% 3%;
}

/* ------------------------------------------------------------------------------ */
.fundo-video {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 1) 100%);
}

/* ------------------------------------------------------------------------------ */
.tabela {

    background-color: rgb(51, 52, 54);
    text-align: center;
    width: 50%;
    /* height: 10%; */

}

table {
    border: 1px solid rgb(204, 248, 7);
    width: 100%;


}

td {
    /* background-color: white; */
    color: rgb(204, 248, 7);
    font-weight: bold;
    padding: 1.5%;


}

td input {

    width: 70%;
    height: 50px;
    min-height: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 17px;
}

.escrita {
    width: 70%;
    height: 50px;
    border: 2px solid yellow;
    font-size: 30px;
}


.rasp {
    width: 30%;
    height: 50px;
    border: 2px solid rgb(204, 248, 7);
    align-items: center;
}






.calcular {
    display: block;
    margin: 3% auto;
    width: 60%;
    padding: 2%;
    background-color: rgb(76, 165, 96);
    color: white;
    font-weight: bold;
    font-size: 18pt;
    border: none;
    border-radius: 50px;
    transition: 1s all;
    cursor: pointer;
}

.calcular:hover {
    background-color: rgb(165, 49, 11);
    transform: scale(1.2);
}

.ocultar {
    display: none;
    opacity: 0;
}

.mostrar {
    display: block;
    opacity: 1;

}

.aberto {
    display: block;
    width: 80%;
    border: px solid red;
    position: relative;
}

.aberto img {
    width: 100%;
    position: relative;
}


.limpar {
    width: 30%;
    padding: 2% 0;
    background-color: rgb(170, 13, 13);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    transition: 0.3s all;
    cursor: pointer;
    width: 20%;
    padding: 1% 0;
    display: none;
}

.limpar:hover {
    background-color: rgb(165, 49, 11);
    transform: scale(1.2);

}


.green {
    background-color: green;

}

.red {
    background-color: red;

}

/* -------------------------------------------------------------------------------------- */
.modal {
    width: 80%;
    border: px solid red;
    position: relative;
    display: none;
}

.modal img {
    width: 100%;
    position: relative;
}

#menssage {
    position: absolute;
    right: 8%;
    top: 5%;
    width: 45%;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: px solid pink;
}

.modal #menssage {
    border: px solid red;
    width: 15%;
    right: 15%;
    height: 35%;
    margin-top: 3%;
    position: absolute;
    color: white;
    font-size: 15pt;
}

.hidden {
    display: none;
}


/* -------------------------------------------------------------------------------------- */

@media (max-width: 1200px) and (min-width: 600px) {

    #hamb{
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: #ffffff;
        text-align: center;
    }

    .container .botao-contas {
        background-color: #263238;
    }

    .right{
        width: 100%;
        border: px solid red;
    }

    .limpar{
        width: 50%;
    }

    #menssage{
        font-size: 10pt;
    }
}


@media only screen and (max-width: 600px) {

    .cabecalho {
        border: px solid #f03a17;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20%;
    }

    .cabecalho .logo {
        width: 100%;
    }

    .menu li{
        font-size: 12pt;
    }

    .cabecalho a {
        border: px solid salmon;
        width: 20%;
    }

    .cabecalho a:first-child {
        display: inline;
        align-items: start;
        cursor: pointer;
    }

    h2 {
        border: px solid blue;
        color: yellow;
    }

    nav {       
        display: none;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .opened {
        display: flex;
        border: px solid red;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin: 5% auto 5% auto;
    }

    nav::-webkit-scrollbar {
        width: 1%;
    }

    nav::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(33, 33, 244, 1);
        background-color: rgba(33, 33, 244, 0.4);
        border-radius: 10px;
    }

    nav::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgba(1, 0, 0, 0.4);
    }

    .tabela{
        width: 80%;
    }

    .tabela input{
        width: 100%;
    }

    .container {
        border: px solid red;
        flex-direction: column;
        margin: auto;
        width: 100%;
        align-items: center;
    }

    .form label {
        font-size: 14pt;
    }

    .enviar {
        font-size: 12pt;
        width: 40%;
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .right{
        width: 100%;
        border: px solid red;
    }

    .limpar{
        width: 50%;
    }

    #menssage{
        font-size: 10pt;
    }

}