body {
    font-family: 'Poppins';
    overflow: hidden;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 150px;
    
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: #ffffff;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
    background-color: #d5011d;
}
/* ------------------------------------------------------------------------------ */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* ------------------------------------------------------------------------------ */
.fundo-video {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
}
/* ------------------------------------------------------------------------------ */
.tabela{
    display: inline-block;
    text-align: center;
    width: 50%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}

.Conteudo_tabela{
    margin: -50px auto;
    
}

.Conteudo_tabela thead{
    background-color: rgb(51, 52, 54);
    /* background-color: white; */
    color: rgb(204, 248, 7);
    font-size: 25px;
    font-weight: bold;
}


.Conteudo_tabela td,th{
    border: solid 5px rgb(68, 94, 29);
    padding: 13px 80px;
}


.Conteudo_tabela .calcular{
    width: 10%;
    padding: 15px 0;
    background-color: rgb(76, 165, 96);
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    transition: 1s all;
    cursor: pointer;
    
}

.Conteudo_tabela .calcular:hover{
    background-color: rgb(165, 49, 11);
    transform: scale(1.2);

}


/* -------------------------------------------------------------------------------------- */
.modal {  

    display: inline-block;
    text-align: center;
    width: 50%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 15px;
    pointer-events: none;
    
}

#mario {
    max-width: 800px;
    max-height: 650px;
}


.modal iframe {
    border-width: 0;
    width: 640px;
    height: 360px;
    margin: 350px 0 0 900px;
}





.modal.aberto {
    opacity: 1;
    visibility: visible;
}

.modal #menssage {

    color:white;
    font-size: 22px;
    max-width: 50%;
    margin: -570px 0 10px 110px;
    opacity: 2;

}































