* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
  }
  
  html {
    font-size: 50%;
  }
  
  body {
    font-family: 'Poppins';
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    max-width: 1440px;
    margin: 0 auto;
    background: #D0D0CB;
  
  }
  
  .header .logo {
    width: 30%;
    height: 80%;
    object-fit: contain;
    margin: 15px 0 0 0;
  
  
  }
  
  .header .menu {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .header nav li a {
    font-weight: bold;
    color: #343a40;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 50px;
    transition: 0.2s;
    width: 0 10px;
  }
  
  .header nav li a:hover {
    background-color: #1C97C4;
    color: #ffffff;
  }
  
  .main {
    flex-direction: row;
  }
  
  .container {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: black;
    display: flex;
  }
  
  /* ------------------------------------------------------------- */
  
  .histórico {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
  }
  
  .histórico li {
    display: inline-block;
    text-align: center;
    width: 40%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
  
  }
  
  .histórico li:hover {
    border-color: darkgoldenrod;
  
  
  }
  
  .histórico li:active {
  
    border-color: aqua;
  }
  
  .histórico li:hover h2 {
    font-size: 40px;
  }
  
  .histórico li p {
    font-size: 20px;
  }
  
  
  li h2 {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
  }
  
  .descricao {
    font-size: 18px;
  
  }
  
  .preco {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .card{
    margin: 2%;
    border: solid 2px #D0D0CB;
    
  }
  
  .card span{
    font-size: 12px;
  }
  
  
  footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #343a40;
    padding: 20px 0;
  }
  
  .rodape {
    color: #ffffff;
    font-size: 10px;
    margin-top: 20px;
  
  }